body {
  background-color: #e07888;
}

@font-face {
  font-family: pokemon;
  src: url(pokemon_pixel_font.ttf);
}

.bagmenu {
  position: relative;
  text-align: center;
  color: black;
  text-shadow: 2.5px 2px lightgray;
}

.leftarrow {
  position: absolute;
  height: 5vw;
  width: auto;
  left: 8.5vw;
  top: 33.5vw;
}

.rightarrow {
  position: absolute;
  height: 5vw;
  width: auto;
  left: 40.2vw;
  top: 33.5vw;
}

.baglabel {
  position: absolute;
  font-family: pokemon;
  font-size: 7vw;
  text-align: center;
  width: 33.5%;
  bottom: 40%;
  margin-left: 10%;
}

.baglist {
  position: absolute;
  width: 50.6%;
  left: 46.4%;
  top: 10%;
}

ul {
  list-style-type: none;
  font-family: pokemon;
  font-size: 8vw;
  text-align: left;
  padding: 0;
  margin: 0;
}

li {
  border: 5px solid transparent;
  height: 6vw;
  color: #484848;
}

li:hover {
  border: 5px solid red;
}

.textbox {
  position: absolute;
  font-family: pokemon;
  font-size: 5vw;
  text-align: left;

  width: 42%;
  left: 2%;
  top: 64%;
}
