@font-face {
  font-family: pokemon;
  src: url("../fonts/pokemon_pixel_font.eot") format("embedded-opentype"),
    url("../fonts/pokemon_pixel_font.svg") format("svg"),
    url("../fonts/pokemon_pixel_font.ttf") format("truetype"),
    url("../fonts/pokemon_pixel_font.woff") format("woff");
}

p {
  font-family: pokemon;
  font-size: 100px;
  text-shadow: 2px 2px #d0d0c8;
}

#map {
  display: block;
  position: fixed;
  margin-left: -1848px;
  margin-top: -1968px;
  transition: margin 100ms;
  z-index: -2;
}

#char {
  position: fixed;
  display: block;
  margin: 0 auto;
  z-index: -1;
}
